export POSTGRES_DB=dwh
export POSTGRES_USER=admin
export POSTGRES_PASSWORD=admin
export POSTGRES_HOST='0.0.0.0'
export POSTGRES_PORT='5432'
export BQ_PROJECT_ID=112210306678452500565
export GCP_PROJECT_ID=eduki-420720
export GCP_PRIVATE_KEY_ID=68718d33e3d93570703f335826f4692c20d06c8d
export GCP_PRIVATE_KEY=$(cat .private_key.pem)
export GCP_CLIENT_EMAIL=googlebigquery@eduki-420720.iam.gserviceaccount.com
export GCP_CLIENT_ID=100557120719595495214
export GCP_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/googlebigquery%40eduki-420720.iam.gserviceaccount.com


